:root {
  --blue: #1897ff;
  --darkblue: #007ffd;
  --pink: #f5a5be;
  --darkpink: #f35b8b;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app {
  height: 100%;
}

h3 {
  color: black;
}

p {
  color:black;
}
